[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
finviz = "*"
pandas = "*"
jinja2 = "*"
yfinance = "*"
boto3 = "*"
deepdiff = "*"
dictdiffer = "*"

[dev-packages]

[requires]
python_version = "3.9"
